<link rel='stylesheet' href='/stylesheets/lifeStyle.css' />

<!-- Start lifeStyle -->
<section class="lifeStyle" id="lifeStyle">
	<div class="container">
		 <div class="content">
		 	  <div class="box img wow slideInLeft">
		 	  	 <img src="images/lifeStyle2.png" alt="lifeStyle" />
		 	  </div>
		 	  <div class="box text wow slideInRight">
		 	  	 <h2>Our lifeStyle</h2>
		 	  	 <p>One of the best way to start a fitnest life.
              It's having someone that can chear you and do 
              exercise togheter
            </p>
		 	  	<div class="class-items">
		 	  	 <div class="item wow bounceInUp">
                     <div class="item-img">
                     	 <img src="images/lifeStyle1.jpg" alt="lifeStyle" />
                     </div>
                     <div class="item-text">
                     	  <h4>Stretching Training</h4>
                     	  <p>One of the most important thing while workingout is Stretching.
                           start doing it for 10 minutes before working out
                         </p>
                     	  <a href="">Get Details</a>
                     </div>
		 	  	 </div>
		 	  	 <div class="item wow bounceInUp">
                     <div class="item-text">
                     	  <h4>Warmout</h4>
                     	  <p>this make you to get in form to do the excercies correctly. doing 10-15 minutes cardio is enough</p>
                     	  <a href="">Get Details</a>
                     </div>
                     <div class="item-img">
                     	 <img src="images/lifeStyle1.jpg" alt="lifeStyle" />
                     </div>
		 	  	 </div>
		 	  	</div>
		 	  </div>
		 </div>
	</div>
</section>
<!-- End lifeStyle -->